<a href="https://colab.research.google.com/github/NicollyeCrist/FPB/blob/main/Aula06_Colecoes_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Coleções em Python

#Listas
#Ordenadas e mutáveis

In [ ]:
#Adicionando elementos ás listas

#um valor
nomes = ['Ze','tiao','joaquim']
nomes.append('Julia')

#vários valores
outrosNomes = ['Ana','Zabé','Maria']
nomes.extend(outrosNomes)
nomes

['Ze', 'tiao', 'joaquim', 'Julia', 'Ana', 'Zabé', 'Maria']

In [ ]:
#Remoção de elementos
#remove.() - Remove o primeiro elemento
#pop.() - Remove o último elemento

#Crie uma lista de números e
numeros = [2, 4, 7, 8, 9, 12] 
#Remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remoca o último elemento da lista
numeros.pop()

numeros

[4, 7, 8, 9]

In [ ]:
#Ordenação de ELementos
#lista.sort() - ordena em ordem crescente
#lista.sort(reverse=True) - ordena em ordem decrescente

#1 - Crie ma lista de notas, e exiba-a da menor para a maior nota
notas = [2, 10, 6, 7, 3, 5]
nomes = ['Ademar','Maristênio', 'Asdrúbal', 'Leo']
notas.sort()
nomes.sort(reverse=True)

#2 -Crie uma lista de nomes de frutas e ordene-a em ordem descrescente

nomes

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [ ]:
#pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros))
numDivi

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [ ]:
#Pega cada número e soma 2.
numSom = list(map(lambda x : x+2, numeros))
numSom

[4, 6, 8, 5]

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes, criar uma lista de nomes,

nomes = ['José', 'Joaquim', 'Sebastião', 'Angélica', 'Leonardo']

new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Joaquim', 'Sebastião', 'Angelica', 'Leonardo']

In [ ]:
#Crie uma lista de notas, imprime apenas as maiores que 6

notas = [3, 7, 8, 6, 9, 10]

new_notas = list(filter(lambda x : (x)>6, notas))
new_notas

[7, 8, 9, 10]

In [ ]:
#Exercícios

#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.

numeros01 = [3, 4, 6, 9, 3, 2]
new_num = list(map(lambda x : x**2, numeros01))
new_num

[9, 16, 36, 81, 9, 4]

In [ ]:
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

nomes = ['João', 'Amélia', 'Chris', 'Geovaldo']
new_nam = list(map(lambda x : len(x), nomes))
new_nam

[4, 6, 5, 8]

In [ ]:
#Dada uma lista de números, retorne uma lista contendo apenas os números pares.

numeros02 = [ 2, 6, 8, 1, 9, 10]
new_num = list(filter(lambda x : (x)%2 == 0, numeros02))
new_num

[2, 6, 8, 10]

In [ ]:
#Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

nomes01 = ['Joaquina', 'Letícia', 'Abigail', 'Hamilton', 'Acastro']
new_nam = list(filter(lambda x : x[0]== 'A', nomes01))
new_nam

['Abigail', 'Acastro']

In [ ]:
#Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)

notas = [7, 4, 8, 9, 10, 3, 2]
new_notas = list(filter(lambda x : (x)>=7, notas))
new_notas

[7, 8, 9, 10]

In [ ]:
#Recebe uma lista de nomes, retorna apenas os que começam com vogal.

nomes02 = ['Castro', 'Otto', 'Fernando', 'Perez', 'Uberval']
new_nam = list(filter(lambda x : x[0].upper() in 'AEIOU', nomes02))
new_nam

['Otto', 'Uberval']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números que são divisíveis por 3 e 5.

numeros = [ 2, 14, 15, 20, 5, 3]
new_num = list(filter(lambda x : (x)%3 == 0 and (x)%5 == 0, numeros ))
new_num

[15]

In [ ]:
#Escreva uma função que recebe uma lista de strings e retorna uma nova lista contendo apenas as strings que começam com uma letra maiúscula.

nomes = ['zangão', 'Zico', 'ameixa', 'Flamengo', 'fanta', 'unha', 'ovo']

new_List = list(filter(lambda x : x[0].isupper(), nomes))

new_List

['W', 'A', 'J', 'K']

In [ ]:
#Recebe uma lista de strings, e retorna uma lista apenas com as iniciais de cada string.

iniciais = list(map(lambda x : x[0], nomes))

iniciais

['W', 'A', 'J', 'K']

In [ ]:
#Escreva uma função que recebe uma lista de números e retorna uma nova lista contendo apenas os números pares elevados ao quadrado.

numeros = [12, 32, 62, 11, 18, 24]
new_num = list(filter(lambda x : (x)%2 == 0 and (x)**2, numeros))
new_num

[12, 32, 62, 18, 24]

In [ ]:
#Tuplas
#Uma tupla é uma coleção ordenada e imutável de elementos em Python
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [ ]:
#Dicionários
#Armazenamento
#Criando dicionários
#Os dicionários são definidos utilizando chaves {} 
#e os pares chave-valor são separados por dois pontos (:)

#Contatos
contatos = {
    'Ostervaldo' : 'oster@email.com',
    'Maristênio' : 'marist@email.com',
    'Leroiane' : 'lero@email.com', 
    'Jozezin' : ['zezin@exemplo.com', 'zemane@xemple.com']
}

contatos

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'marist@email.com',
 'Leroiane': 'lero@email.com',
 'Jozezin': ['zezin@exemplo.com', 'zemane@xemple.com']}

In [ ]:
#Acessando valores
contatos['Leroiane']

'lero@email.com'

In [ ]:
#Para evitar erros ao buscar por possíveis valores inexistentes, utilizar o get()
contatos.get('Brasil', 'Contato inexistente')

'Contato inexistente'

In [ ]:
#Adicionar
contatos['Evilásio'] = 'evi@exemplo.com'

contatos

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'marist@email.com',
 'Leroiane': 'lero@email.com',
 'Jozezin': ['zezin@exemplo.com', 'zemane@xemple.com'],
 'Evilásio': 'evi@exemplo.com'}

In [ ]:
#Adição por concatenação
a = {'zé': 'ze@mailzemplo.com', 
     'Jacob':'Jac@exemplo.com',
     'Fabricio' : 'Fabri@exml.com'}

contatos.update(a)

contatos

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'steniomari2023@exemplo.com',
 'Leroiane': 'lero@email.com',
 'Jozezin': ['zezin@exemplo.com', 'zemane@xemple.com'],
 'Evilásio': 'evi@exemplo.com',
 'zé': 'ze@mailzemplo.com',
 'gardenia': 'gardenia@exemplo.com',
 'Aloisio': 'aloisio@exml.com',
 'Jacob': 'Jac@exemplo.com',
 'Fabricio': 'Fabri@exml.com'}

In [ ]:
#Modificar (só inserir um novo valor à chave correspondente)
contatos['Maria'] = 'mari2023@exemplo.com'

contatos

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'steniomari2023@exemplo.com',
 'Leroiane': 'lero@email.com',
 'Jozezin': ['zezin@exemplo.com', 'zemane@xemple.com'],
 'zé': 'ze@mailzemplo.com',
 'gardenia': 'gardenia@exemplo.com',
 'Aloisio': 'aloisio@exml.com',
 'Jacob': 'Jac@exemplo.com',
 'Fabricio': 'Fabri@exml.com',
 'Maria': 'mari2023@exemplo.com'}

In [ ]:
#Remoção del

del contatos['Fabricio']

contatos

{'Ostervaldo': 'oster@email.com',
 'Maristênio': 'steniomari2023@exemplo.com',
 'Leroiane': 'lero@email.com',
 'Jozezin': ['zezin@exemplo.com', 'zemane@xemple.com'],
 'zé': 'ze@mailzemplo.com',
 'gardenia': 'gardenia@exemplo.com',
 'Aloisio': 'aloisio@exml.com',
 'Jacob': 'Jac@exemplo.com',
 'Maria': 'mari2023@exemplo.com'}

In [ ]:
contatos.items()

dict_items([('Ostervaldo', 'oster@email.com'), ('Maristênio', 'steniomari2023@exemplo.com'), ('Leroiane', 'lero@email.com'), ('Jozezin', ['zezin@exemplo.com', 'zemane@xemple.com']), ('zé', 'ze@mailzemplo.com'), ('gardenia', 'gardenia@exemplo.com'), ('Aloisio', 'aloisio@exml.com'), ('Jacob', 'Jac@exemplo.com'), ('Maria', 'mari2023@exemplo.com')])

In [ ]:
#Iterando sobre dicionários
for nome, email in contatos.items():
  print(f"O Email {email} pertence a {nome}")

O Email oster@email.com pertence a Ostervaldo
O Email steniomari2023@exemplo.com pertence a Maristênio
O Email lero@email.com pertence a Leroiane
O Email ['zezin@exemplo.com', 'zemane@xemple.com'] pertence a Jozezin
O Email ze@mailzemplo.com pertence a zé
O Email gardenia@exemplo.com pertence a gardenia
O Email aloisio@exml.com pertence a Aloisio
O Email Jac@exemplo.com pertence a Jacob
O Email mari2023@exemplo.com pertence a Maria

In [ ]:
#métodos úteis keys(), values()
contatos.keys()

dict_keys(['Ostervaldo', 'Maristênio', 'Leroiane', 'Jozezin', 'zé', 'gardenia', 'Aloisio', 'Jacob', 'Maria'])

In [ ]:
nomes = list(contatos.keys())
type(nomes)

dict_keys

In [ ]:
contatos.values()

In [ ]:
#Valores máximos, mínimos e ordenações
curso = {"Jorge" : 8.5, "Bob" : 7.0, "Chico" : 6.5, "Nick" : 10}
#Quem obteve a maior nota?
max(curso, key = curso.get)

'Nick'

In [ ]:
#E a menor nota?
min(curso, key = curso.get)

'Chico'

In [ ]:
#Ordene pela nota da menor para a maior
sorted(curso, key = curso.get)

['Chico', 'Bob', 'Jorge', 'Nick']

In [ ]:
sorted(curso, key = curso.get, reverse=True)

['Nick', 'Jorge', 'Bob', 'Chico']

In [ ]:
##Exercício

#O dicionário a seguir contém uma relação de atletas e seus respectivos tempos em uma corrida de 100 metros. 
#corrida100m = {'Zé': 10, 'marco': 9.9, 'Marta': 9.98, 'Lourdes': 10.2}
#Crie um código em python que retorna:
#Quem chegou primeiro
#Quem chegou por últimp
#Ordene os atletas do primeiro ao último lugar.

In [ ]:
corrida100m = {'Zé': 10, 'marco': 9.9, 'Marta': 9.98, 'Lourdes': 10.2}
#Primeiro
max(corrida100m, key = corrida100m.get)

'Lourdes'

In [ ]:
#ùltimo
min(corrida100m, key = corrida100m.get)

'marco'

In [ ]:
#Ordenar
sorted(corrida100m, key = corrida100m.get, reverse=True)

['Lourdes', 'Zé', 'Marta', 'marco']

In [1]:
#Escreva uma função que receba dois dicionários como entrada e retorne um novo dicionário contendo a união dos dois dicionários.

a = { 'chave 1': 'Valor 1', 'chave 2': 'Valor 2', 'chave 3': 'Valor 3'}
b = { 'chave a': 'Valor a', 'chave b': 'Valor b', 'chave c': 'Valor c'}

def juntaDicionarios (dicA, dicB):
  dicC = {}
  dicC.update(dicA)
  dicC.update(dicB)
  return dicC

In [2]:
a = { 'chave 1': 'Valor 1', 'chave 2': 'Valor 2', 'chave 3': 'Valor 3'}
b = { 'chave a': 'Valor a', 'chave b': 'Valor b', 'chave c': 'Valor c'}

juntaDicionarios(a, b)

{'chave 1': 'Valor 1',
 'chave 2': 'Valor 2',
 'chave 3': 'Valor 3',
 'chave a': 'Valor a',
 'chave b': 'Valor b',
 'chave c': 'Valor c'}

In [3]:
#Exercício 3

provaA = {'Andre': 8.5, 'Ana': 7.0, 'Chico': 6.5, 'Nubia': 10, 'Luana': 8}
provaB = {'Julio': 5.5, 'Aristoteles': 6.0, 'Sebastian': 9.5, 'Camila': 10, 'João': 6}

resultado_final = {} #novo dicionário resultado_final
resultado_final.update(provaA)
resultado_final.update(provaB)

resultado_final

{'Andre': 8.5,
 'Ana': 7.0,
 'Chico': 6.5,
 'Nubia': 10,
 'Luana': 8,
 'Julio': 5.5,
 'Aristoteles': 6.0,
 'Sebastian': 9.5,
 'Camila': 10,
 'João': 6}

In [5]:
sorted(resultado_final, key = resultado_final.get, reverse=True)

['Nubia',
 'Camila',
 'Sebastian',
 'Andre',
 'Luana',
 'Ana',
 'Chico',
 'Aristoteles',
 'João',
 'Julio']

In [6]:
sorted(resultado_final.items(), key = lambda x: x[1], reverse = True) #Ordenação crescente

[('Nubia', 10),
 ('Camila', 10),
 ('Sebastian', 9.5),
 ('Andre', 8.5),
 ('Luana', 8),
 ('Ana', 7.0),
 ('Chico', 6.5),
 ('Aristoteles', 6.0),
 ('João', 6),
 ('Julio', 5.5)]

In [8]:
listaCandidatos = list(resultado_final.keys())
listaCandidatos

['Andre',
 'Ana',
 'Chico',
 'Nubia',
 'Luana',
 'Julio',
 'Aristoteles',
 'Sebastian',
 'Camila',
 'João']

In [9]:
listaNotas = list(resultado_final.values())
listaNotas

[8.5, 7.0, 6.5, 10, 8, 5.5, 6.0, 9.5, 10, 6]

In [10]:
resultado_final.get('Ana', 'Candidato não existe')

7.0

In [11]:
def consultaNota (dicionario, nome):
 return resultado_final.get(nome, 'Candidato não existe')


consultaNota(resultado_final,'Aloísio')

'Candidato não existe'

In [ ]:
#CRUD
#C - CREATE
#R - RECOVERY
#U - UPDATE
#D - DELETE

In [ ]:
#Criar
lutas = {}
lutas

In [ ]:
#Criar
luchadores = [
    {
     "nome":"Israel Adesanya",
     "categoria" : "Meio médio",
     "envergadura" : 2
    },
     {
    "nome" : "Luana Pinheiro",
    "categoria" : "Palha",
    "envergadura" : 1.6
    }
]

[{'nome': 'Israel Adesanya', 'categoria': 'Meio médio', 'envergadura': 2},
 {'nome': 'Luana Pinheiro', 'categoria': 'Palha', 'envergadura': 1.6}]